#mainWindow
{
    background-color: #404142;
    color: white;
}

QToolButton
{
    background-color: #404142;
    color: white;
}

QToolButton:checked
{
   background-color: #202122;
}

QToolButton::menu-button {
    background-color: #404142;
}


QToolButton::menu-button:hover {
    background-color: #606162;
}

QPushButton
{
    background-color: #2E2F30;
    color: white;
}

QPushButton:hover
{
    background-color: #606162;
}

QToolButton:hover
{
    background-color: #606162;
}

QPushButton:disabled, QToolButton:disabled
{
    color: #606162;
}

QLabel
{
    color: white;
}

CommitInfoWidget > #labelTitle, CommitInfoWidget > #commitInfoFrame, CommitInfoWidget > #labelDescription
{
    background-color: #606162;
}

#labelSha
{
    color: #D89000;
    background-color: #202122;
}

WorkInProgressWidget > QListWidget, BranchesWidget > QListWidget, BlameWidget > QTreeView
{
   color: white;
   background-color: #2E2F30;
}

QListWidget::item, BlameWidget > QTreeView::item
{
    background-color: #2E2F30;
}

QTreeView::branch
{
    background-color: #2E2F30;
}

QListWidget::item:hover, BlameWidget > QTreeView::item:hover
{
   background:#363637;
}

QListWidget::item:focus, BlameWidget > QTreeView::item:focus
{
   background-color: #3C3D3D;
}

QListWidget::item:disabled
{
    color: #606162;
}

CommitHistoryView, FullDiffWidget, WorkInProgressWidget > QListWidget, FileListWidget, QTreeWidget
{
    background-color: #2E2F30;
}

CommitHistoryView, FullDiffWidget, WorkInProgressWidget > QListWidget, QTreeWidget
{
    color: white;
}

WorkInProgressWidget > QListWidget
{
    border-color: #202122;
}

QMenu
{
    border-color: #000000;
    background-color: #000000;
    color:#ffffff;
}

QMenu::item
{
    background-color: #2E2F30;
    color: #ffffff;
}

QMenu::item:selected
{
   background-color: #404142;
   color: #d89000;
}

QMenu::item:disabled
{
   background-color: #242425;
   color: #656668;
}

QMenu::separator
{
   background: #3f4043;
}

FullDiffWidget, WorkInProgressWidget > QLineEdit, #leCommitTitle, #teDescription, #leAuthorName, #leAuthorEmail
{
    border-color: #202122
}

WorkInProgressWidget > QLineEdit, #leCommitTitle, #teDescription
{
    background-color: #606162;
    color: white;
}

WorkInProgressWidget > #leAuthorName
{
    border-bottom-color: #404142;
}

QLabel#lCounter
{
    background-color: #606162;
    border-color: #202122;
    border-bottom-color: #404141;
    color: #A3A3A4;
}

WorkInProgressWidget > QFrame#stagedFiles, WorkInProgressWidget > QFrame#unstagedFiles, WorkInProgressWidget > QFrame#untrackedFiles
{
    background: #202122;
}

#outputTerminal, FileDiffView
{
    background-color: #2E2F30;
    color: white;
}

FileDiffWidget, FileDiffWidget > QPushButton
{
    background-color: #202122;
}

#leCommitTitle
{
    border-bottom-color: #404142;
}

QHeaderView
{
    color:#ffffff;
}

QHeaderView:section
{
    border-right-color: #606162;
    background: #202122;
}

#tagsFrame, #fileTitleFrame
{
    background-color: #202122;
    color: white;
}

BranchDlg
{
    background-color: #404142;
    color: white;
}

BranchDlg > QLineEdit, HistoryWidget > QLineEdit
{
    border-color: #202122;
    background-color: #606162;
    color: white;
}

HistoryWidget > QLineEdit
{
    border-color: #202122;
    background-color: #2E2F30;
    color: white;
}

GitQlient
{
   background: #2E2F30;
}

#openNewRepo
{
   background-color: #202122;
}

#openNewRepo:hover, #openGitAdmin:hover
{
   background-color: #606162;
}

QTabWidget::tab-bar
{
   background-color: #404142;
}

QTabBar::tab
{
   background-color: #202122;
   color: white;
}

QTabBar::tab:!selected
{
    border-right-color: #2E2F30;
}

QTabBar::tab:!selected:hover
{
    background-color: #606162;
}

QTabBar::tab:disabled
{
    color: #606162;
}

QToolTip
{
    border-color: #606162;
    background-color: #202122;
    color: white;
}

ConfigWidget
{
    background-color: #404142;
}

QFrame#separator, QFrame#separator2px
{
   background-color: #202122;
}

QFrame#orangeSeparator
{
   background-color: #D89000;
}

QWidget#testWidget
{
    background-color: #606162;
}

QPushButton#bigButton
{
    border-color: #101112;
}

QFrame#tabWidget > QPushButton[selected=true], QFrame#tabWidget > QPushButton[selected=true]:hover
{
    background-color: #606162;
}

GeneralConfigPage, #recentProjects
{
    background-color: #606162;
}

GeneralConfigPage > QLineEdit
{
    border-color: #202122;
    background-color: #2E2F30;
    color: white;
}

QDialog
{
    background-color: #404142;
}

QDialog > QLineEdit
{
    border-color: #202122;
    background-color: #606162;
    color: white;
}

QMessageBox
{
    background-color: #606162;
    color: white;
}

QScrollBar:vertical
{
    border-left-color: #202122;
    background-color: transparent;
}

QScrollBar:horizontal
{
    border-top-color: #202122;
    background-color: transparent;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal,
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal,
QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal
{
    border-color: #202122;
    background-color: #2E2F30;
}

QScrollBar::add-line:vertical:hover, QScrollBar::sub-line:vertical:hover,
QScrollBar::handle:vertical:hover, QScrollBar::add-line:horizontal:hover,
QScrollBar::sub-line:horizontal:hover, QScrollBar::handle:horizontal:hover
{
    background-color: #404142;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed,
QScrollBar::handle:vertical:pressed, QScrollBar::add-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:pressed, QScrollBar::handle:horizontal:pressed
{
    background-color: #303132;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background-color: #606162;
}

#AnnotationFrame
{
    background-color: #2E2F30;
}

QLabel#numberLabel
{
    border-right-color: #202122;
}

QLabel#authorFirstOfItsName, ClickableFrame#firstOfItsName
{
    border-top-color: #606162;
}

ClickableFrame#firstOfItsName::hover, ClickableFrame#primusInterPares::hover
{
    background-color: #606162;
}

ClickableFrame#firstOfItsName::pressed,  ClickableFrame#primusInterPares::pressed
{
    background-color: #202122;
}

QProgressDialog
{
    background-color: #404142;
    color: white;
}

QProgressBar
{
    background-color: #606162;
    border-color: #202122;
}

QProgressBar::chunk
{
    background-color: #D89000;
}

ClickableFrame::hover
{
    background-color: #404142;
}

ClickableFrame::pressed
{
    background-color: #202122;
}

FileBlameWidget
{
    background-color: #2E2F30;
}

BlameWidget > QTabWidget, QTabWidget#HistoryTab:pane
{
    background-color: #2E2F30;
    border: 0;
}

QTabWidget#HistoryTab > QTabBar::tab:selected
{
    background-color: #2E2F30;
}

QTabWidget#HistoryTab > QTabBar::tab:selected:hover
{
    background-color: #2E2F30;
}

QTabWidget#HistoryTab > QTabBar::tab:!selected
{
    background-color: #505152;
}

QTabWidget#HistoryTab > QTabBar::tab:!selected:hover
{
    background-color: #202122;
}


#ShaLabel
{
    background-color: #2E2F30;
    color: white;
}

DiffButton
{
   background-color: #2F2E30;
}

DiffButton > QLabel
{
   background-color: transparent;
}

DiffButton:hover
{
   background-color: #606162;
}

DiffButton[pressed="true"]
{
   background-color: #202122;
}

#DiffButtonClose:pressed
{
   background-color: #606162;
}

#DiffButtonClose:hover
{
   background-color: #202122;
}

#DiffButtonsFrame
{
   background-color: #404142;
}

#MergeWarningButton, QPushButton#Abort, QPushButton#pbCancelAmend
{
   border-style: solid;
   border-color: #FF5555;
   background-color: rgba(255, 85, 85, 0.45);
}

#MergeWarningButton:hover, QPushButton#Abort:hover, QPushButton#pbCancelAmend:hover
{
   background-color: rgba(255, 85, 85, 0.65);
}

#MergeWarningButton:pressed, QPushButton#Abort:pressed, QPushButton#pbCancelAmend:pressed
{
   background-color: rgba(255, 85, 85, 0.55);
}

QPushButton#Merge, QPushButton#pbCommit
{
   border-style: solid;
   border-color: #8DC944;
   background-color: rgba(141, 201, 68, 0.45);
}

QPushButton#Merge:hover, QPushButton#pbCommit:hover
{
   background-color: rgba(141, 201, 68, 0.65);
}

QPushButton#Merge:pressed, QPushButton#pbCommit:pressed
{
   background-color: rgba(141, 201, 68, 0.55);
}

#FilesListTitle
{
    color: white;
    background-color: #202122;
}

#FileBtn:pressed, #FileBtn:checked
{
   background-color: #606162;
}

#FileBtn:hover
{
   background-color: #202122;
}

QCheckBox
{
    color: white;

}

RepoConfigDlg
{
   background-color: #2E2F30;
}

QLineEdit
{
   color: white;
}

PullDlg QLabel#lQuestion
{
   color: white;
   font-weight: bold;
}

