#mainWindow
{
    background-color: white;
    color: black;
}

QLineEdit
{
   color: black;
}

QToolButton
{
    background-color: white;
    color: black;
}

QToolButton:checked
{
   background-color: #C6C6C7;
}

QToolButton:checked:hover
{
   background-color: #C6C6C7;
}

QToolButton::menu-button {
    background-color: white;
}


QToolButton::menu-button:hover {
    background-color: #EFEFEF;
}

QPushButton
{
    background-color: white;
    color: black;
}

QPushButton:hover
{
    background-color: #EFEFEF;
}

QToolButton:hover
{
    background-color: #EFEFEF;
}

QPushButton:disabled, QToolButton:disabled
{
    color: #606162;
}

QLabel
{
    color: black;
}

#labelTitle, #commitInfoFrame, #labelDescription,
#labelAuthor, #labelDateTime
{
    background-color: #C6C6C7;
}

#labelSha
{
    color: #D89000;
    background-color: #C6C6C7;
}

CommitChangesWidget > QListWidget, BranchesWidget > QListWidget, BlameWidget > QTreeView, QListView
{
   color: black;
   background-color: white;
}

BranchesWidget > QListWidget, BlameWidget > QTreeView, QTreeView, QTreeWidget
{
    border: 1px solid #202122;
}

QListView
{
   background-color: white;
   color: black;
}

QListView::item
{
   background-color: white;
}

QListWidget::item, BlameWidget > QTreeView::item
{
    background-color: white;
}

QTreeView::branch
{
    background-color: white;
}

QListWidget::item:hover, BlameWidget > QTreeView::item:hover
{
   background: #EFEFEF;
}

QListWidget::item:focus, BlameWidget > QTreeView::item:focus
{
   background-color: #C6C6C7;
}

QListWidget::item:disabled
{
    color: #606162;
}

CommitHistoryView, FullDiffWidget > QPlainTextEdit, QListWidget, FileListWidget, QTreeWidget
{
    background-color: white;
    color: black;
}

CommitChangesWidget > QListWidget
{
    border-color: #404142;
}

QMenu
{
    border-color: #000000;
    background-color: #000000;
    color:#ffffff;
}

QMenu::item
{
    background-color: white;
    color: black;
}

QMenu::item:selected
{
   background-color: #C6C6C7;
   color: #d89000;
}

QMenu::item:disabled
{
   background-color: #EFEFEF;
   color: #C6C6C7;
}

QMenu::separator
{
   background: #3f4043;
}

FullDiffWidget > QPlainTextEdit, CommitChangesWidget > QLineEdit,  #leCommitTitle, #teDescription, #leAuthorName, #leAuthorEmail
{
    border-color: #404142;
}

CommitChangesWidget > QLineEdit, #leCommitTitle, #teDescription
{
    background-color: white;
    color: black;
}

QLineEdit#leAuthorName
{
    border-bottom-color: #404142;
}

QLabel#lCounter
{
    background-color: white;
    border-color: #404142;
    border-bottom-color: #404141;
    color: #A3A3A4;
}

CommitChangesWidget > QFrame#stagedFiles, CommitChangesWidget > QFrame#unstagedFiles, CommitChangesWidget > QFrame#untrackedFiles,
CommitChangesWidget > QFrame#untrackedFiles > QLabel, CommitChangesWidget > QFrame#unstagedFiles > QLabel, CommitChangesWidget > QFrame#stagedFiles > QLabel,
#JobContainerHeader
{
    background: #404142;
    color: white;
    border: none;
}

FileDiffView
{
    background-color: white;
    color: black;
}

FileDiffWidget, FullDiffWidget
{
    background-color: #EFEFEF;
}

FileDiffWidget > QPushButton
{
    background-color: white;
}

#leCommitTitle
{
    border-bottom-color: #404142;
}

QHeaderView
{
    color: white;
}

QHeaderView:section
{
    border-right-color: #EFEFEF;
    background: #404142;
}

#tagsFrame, #fileTitleFrame, #tagsFrame > QLabel, #fileTitleFrame > QLabel
{
    background-color: #404142;
    color: white;
}

BranchDlg
{
    background-color: white;
    color: black;
}

BranchDlg > QLineEdit
{
    border-color: #404142;
    background-color: white;
    color: black;
}

#SearchInput
{
    border-color: #404142;
    background-color: white;
    color: black;
}

GitQlient
{
   background: #C6C6C7;
}

#openNewRepo
{
   background-color: #C6C6C7;
}

#openNewRepo:hover, #openGitAdmin:hover
{
   background-color: #EFEFEF;
}

QTabWidget::tab-bar
{
   background-color: #C6C6C7;
}

QTabWidget > QTabBar::tab
{
   background-color: #C6C6C7;
   color: black;
}

QTabWidget > QTabBar::tab:selected
{
   background-color: white;
}

QTabWidget > QTabBar::tab:!selected
{
    border-right-color: none;
}

QTabWidget > QTabBar::tab:!selected:hover
{
    background-color: #A6A6A7;
}

QTabWidget > QTabBar::tab:disabled
{
    color: #606162;
}

QToolTip
{
    border-color: black;
    background-color: #EFEFEF;
    color: black;
}

ConfigWidget
{
    background-color: white;
}

QFrame#separator, QFrame#separator2px
{
   background-color: #404142;
}

QFrame#orangeSeparator
{
   background-color: #D89000;
}

QFrame#tabWidget > QPushButton[selected=true], QFrame#tabWidget > QPushButton[selected=true]:hover
{
    background-color: #C6C6C7;
}

GeneralConfigPage, #recentProjects
{
    background-color: #C6C6C7;
}

QDialog
{
    background-color: white;
}

GeneralConfigPage > QLineEdit, QDialog > QLineEdit
{
    border-color: #404142;
    background-color: white;
    color: black;
}

QMessageBox
{
    background-color: white;
    color: black;
}

QScrollBar:vertical
{
    border-left-color: #404142;
    background-color: transparent;
}

QScrollBar:horizontal
{
    border-top-color: #404142;
    background-color: transparent;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal,
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal,
QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal
{
    border-color: #404142;
    background-color: #2E2F30;
}

QScrollBar::add-line:vertical:hover, QScrollBar::sub-line:vertical:hover,
QScrollBar::handle:vertical:hover, QScrollBar::add-line:horizontal:hover,
QScrollBar::sub-line:horizontal:hover, QScrollBar::handle:horizontal:hover
{
    background-color: #404142;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed,
QScrollBar::handle:vertical:pressed, QScrollBar::add-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:pressed, QScrollBar::handle:horizontal:pressed
{
    background-color: #303132;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background-color: #C6C6C7;
}

#AnnotationFrame
{
    background-color: #C6C6C7;
}

QLabel#numberLabel
{
    border-right-color: #404142;
    background-color: white;
}

#normalLabel
{
    background-color: white;
}

QLabel#authorFirstOfItsName, ClickableFrame#firstOfItsName
{
    border-top-color: #606162;
    background-color: #C6C6C7;
}

ClickableFrame#firstOfItsName::hover, ClickableFrame#primusInterPares::hover
{
    background-color: #EFEFEF;
}

ClickableFrame#firstOfItsName::pressed,  ClickableFrame#primusInterPares::pressed
{
    background-color: #EFEFEF;
}

QProgressDialog
{
    background-color: white;
    color: black;
}

QProgressBar
{
    background-color: white;
    border-color: #404142;
}

QProgressBar::chunk
{
    background-color: #D89000;
}

ClickableFrame::hover
{
    background-color: #EFEFEF;
}

ClickableFrame::pressed
{
    background-color: #EFEFEF;
}

FileBlameWidget
{
    background-color: #C6C6C7;
}

BlameWidget > QTabWidget, QTabWidget#HistoryTab:pane
{
    background-color: #C6C6C7;
    border: 0;
}

QTabWidget#HistoryTab > QTabBar::tab:selected
{
    background-color: #C6C6C7;
}

QTabWidget#HistoryTab > QTabBar::tab:selected:hover
{
    background-color: #C6C6C7;
}

QTabWidget#HistoryTab > QTabBar::tab:!selected
{
    background-color: #EFEFEF;
}

QTabWidget#HistoryTab > QTabBar::tab:!selected:hover
{
    background-color: #A6A6A7;
}

DiffButton
{
   background-color: #C6C6C7;
}

DiffButton > QLabel
{
   background-color: transparent;
}

DiffButton:hover
{
   background-color: #EFEFEF;
}

DiffButton[pressed="true"]
{
   background-color: #A6A6A7;
}

#DiffButtonClose
{
    background-color: #C6C6C7;
}

#DiffButtonClose:hover
{
   background-color: #A6A6A7;
}

#DiffButtonsFrame
{
   background-color: white;
}

#MergeWarningButton, QPushButton#warnButton, QPushButton#Abort, QPushButton#pbCancelAmend
{
   border-style: solid;
   border-color: #FF5555;
   background-color: rgba(255, 85, 85, 0.65);
}

#MergeWarningButton:hover, QPushButton#warnButton:hover, QPushButton#Abort:hover, QPushButton#pbCancelAmend:hover
{
   background-color: rgba(255, 85, 85, 0.95);
}

#MergeWarningButton:pressed, QPushButton#warnButton:pressed, QPushButton#Abort:pressed, QPushButton#pbCancelAmend:pressed
{
   background-color: rgba(255, 85, 85, 0.80);
}

QPushButton#Merge, QPushButton#pbCommit, QPushButton#pbCherryPick
{
   border-style: solid;
   border-color: #8DC944;
   background-color: rgba(141, 201, 68, 0.65);
}

QPushButton#Merge:hover, QPushButton#pbCommit:hover, QPushButton#pbCherryPick:hover
{
   background-color: rgba(141, 201, 68, 0.95);
}

QPushButton#Merge:pressed, QPushButton#pbCommit:pressed, QPushButton#pbCherryPick:pressed
{
   background-color: rgba(141, 201, 68, 0.80);
}

#FilesListTitle
{
    color: white;
    background-color: #404142;
}

#FileBtn:pressed, #FileBtn:checked
{
   background-color: #606162;
}

#FileBtn:hover
{
   background-color: #404142;
}

QComboBox
{
   color: black;
   border-color: #202122;
   background-color: white;
}

QComboBox:disabled {
   color: #e0e0e1;
}

QComboBox:editable {
   background: #ffffff;
}

QComboBox QAbstractItemView
{
   border: none;
   outline: none;
   background-color: white;
}

QCheckBox
{
   color: black;
}

PullDlg QLabel#lQuestion
{
   color: black;
   font-weight: bold;
}

RepoConfigDlg
{
    background-color: #C6C6C7;
}

RepoConfigDlg > QPinnableTabWidget::tab-bar
{
   background-color: white;
}

RepoConfigDlg > QTabBar::tab
{
   background-color: red;
   color: black;
}

RepoConfigDlg#tabWidget > QTabBar::tab:selected
{
   background-color: green;
}

RepoConfigDlg > QTabBar::tab:!selected
{
    border-right-color: none;
}

RepoConfigDlg > QTabBar::tab:!selected:hover
{
    background-color: blue;
}

RepoConfigDlg > QTabBar::tab:disabled
{
    color: #606162;
}

