#mainWindow
{
    background-color: #404142;
    color: white;
}

QToolButton
{
    background-color: #404142;
    color: white;
}

QToolButton:checked, QToolButton:checked:hover
{
   background-color: #202122;
}

QToolButton::menu-button {
    background-color: #404142;
}


QToolButton::menu-button:hover {
    background-color: #606162;
}

QPushButton
{
    background-color: #2E2F30;
    color: white;
}

QPushButton:hover
{
    background-color: #606162;
}

QToolButton:hover
{
    background-color: #606162;
}

QPushButton:disabled, QToolButton:disabled
{
    color: #606162;
}

QLabel
{
    color: white;
}

QLineEdit
{
    border-color: #D89000;
    background-color: #404142;
    color: white;
}

#labelTitle, #commitInfoFrame, #labelDescription,
#labelAuthor, #labelDateTime
{
    background-color: #606162;
}

#labelAuthor
{
   border-color: #404142;
}

#labelSha
{
    color: #D89000;
    background-color: #202122;
}

QListView
{
   background-color: #606162;
   color: white;
}

QListWidget, BlameWidget > QTreeView
{
   color: white;
   background-color: #2E2F30;
}

QListView::item
{
   background-color: #606162;
}

QListWidget::item, BlameWidget > QTreeView::item
{
    background-color: #2E2F30;
}

QTreeView::branch
{
    background-color: #2E2F30;
}

QListWidget::item:hover, BlameWidget > QTreeView::item:hover, QListView::item:hover
{
   background:#363637;
}

QListWidget::item:focus, BlameWidget > QTreeView::item:focus, QListView::item:focus
{
   background-color: #3C3D3D;
}

QListWidget::item:disabled, QListView::item:disabled
{
    color: #606162;
}

CommitHistoryView, FullDiffWidget > QPlainTextEdit, CommitChangesWidget > QListWidget, FileListWidget, QTreeWidget, MergeWidget > QListWidget
{
    background-color: #2E2F30;
}

CommitHistoryView, FullDiffWidget > QPlainTextEdit, CommitChangesWidget > QListWidget, QTreeWidget, MergeWidget > QListWidget
{
    color: white;
}

CommitChangesWidget > QListWidget, MergeWidget > QListWidget
{
    border-color: #202122;
}

QMenu, QToolTip
{
    border-color: #000000;
    background-color: #000000;
    color:#ffffff;
}

QMenu::item
{
    background-color: #2E2F30;
    color: #ffffff;
}

QMenu::item:selected
{
   background-color: #404142;
   color: #d89000;
}

QMenu::item:disabled
{
   background-color: #242425;
   color: #656668;
}

QMenu::separator
{
   background: #3f4043;
}

FullDiffWidget > QPlainTextEdit,  #leCommitTitle, #teDescription, #leAuthorName, #leAuthorEmail
{
    border-color: #202122
}

#leCommitTitle, #teDescription, #leAuthorName, #leAuthorEmail
{
    background-color: #606162;
    color: white;
}

#leAuthorName
{
    border-bottom-color: #404142;
}

QLabel#lCounter
{
    background-color: #606162;
    border-color: #202122;
    border-bottom-color: #404141;
    color: #A3A3A4;
}

CommitChangesWidget > QFrame#stagedFiles, CommitChangesWidget > QFrame#unstagedFiles, CommitChangesWidget > QFrame#untrackedFiles,
#JobContainerHeader
{
    background: #202122;
    border: none;
}

FileDiffView
{
    background-color: #2E2F30;
    color: white;
}

FileDiffWidget, FullDiffWidget
{
    background-color: #2E2F30;
}

FileDiffWidget > QPushButton,FileDiffWidget > QToolButton
{
    background-color: transparent;
}

FileDiffWidget > QPushButton:checked, FileDiffWidget > QToolButton:checked
{
   background-color: #202122;
}

#leCommitTitle
{
    border-bottom-color: #404142;
}

QHeaderView
{
    color:#ffffff;
}

QHeaderView:section
{
    border-right-color: #606162;
    background: #202122;
}

#tagsFrame, #fileTitleFrame
{
    background-color: #202122;
    color: white;
}

BranchDlg
{
    background-color: #404142;
    color: white;
}

#SearchInput
{
    border-color: #202122;
    background-color: #2E2F30;
    color: white;
}

GitQlient
{
   background: #2E2F30;
}

#openNewRepo
{
   background-color: #202122;
}

#openNewRepo:hover, #openGitAdmin:hover
{
   background-color: #606162;
}

QTabWidget::tab-bar
{
   background-color: #404142;
}

QTabWidget > QTabBar::tab
{
   background-color: #202122;
   color: white;
}

QTabWidget > QTabBar::tab:selected
{
   background-color: #404142;
}

QTabWidget > QTabBar::tab:!selected
{
    border-right-color: #2E2F30;
}

QTabWidget > QTabBar::tab:!selected:hover
{
    background-color: #606162;
}

QTabWidget > QTabBar::tab:disabled
{
    color: #606162;
}

DiffWidget > QPinnableTabWidget::tab-bar
{
   background-color: #404142;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab
{
   background-color: #202122;
   color: white;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:selected
{
   background-color: #2E2F30;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:!selected
{
    border-right-color: #404142;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:!selected:hover
{
    background-color: #606162;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:disabled
{
    color: #606162;
}

QToolTip
{
    border-color: #606162;
    background-color: #202122;
    color: white;
}

ConfigWidget
{
    background-color: #404142;
}

QFrame#separator, QFrame#separator2px
{
    background-color: #202122;
}

#orangeSeparator, #orangeHSeparator
{
    background-color: #D89000;
}

QFrame#tabWidget > QPushButton[selected=true], QFrame#tabWidget > QPushButton[selected=true]:hover
{
    background-color: #606162;
}

GeneralConfigPage, #recentProjects
{
    background-color: #606162;
}

QDialog
{
    background-color: #404142;
}

QMessageBox
{
    background-color: #606162;
    color: white;
}

QScrollBar:vertical
{
    border-left-color: #202122;
    background-color: transparent;
}

QScrollBar:horizontal
{
    border-top-color: #202122;
    background-color: transparent;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal,
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal,
QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal
{
    border-color: #202122;
    background-color: #2E2F30;
}

QScrollBar::add-line:vertical:hover, QScrollBar::sub-line:vertical:hover,
QScrollBar::handle:vertical:hover, QScrollBar::add-line:horizontal:hover,
QScrollBar::sub-line:horizontal:hover, QScrollBar::handle:horizontal:hover
{
    background-color: #404142;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed,
QScrollBar::handle:vertical:pressed, QScrollBar::add-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:pressed, QScrollBar::handle:horizontal:pressed
{
    background-color: #303132;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background-color: #606162;
}

#AnnotationFrame
{
    background-color: #2E2F30;
}

QLabel#numberLabel
{
    border-right-color: #202122;
}

QLabel#authorFirstOfItsName, ClickableFrame#firstOfItsName
{
    border-top-color: #606162;
}

ClickableFrame#firstOfItsName::hover, ClickableFrame#primusInterPares::hover
{
    background-color: #606162;
}

ClickableFrame#firstOfItsName::pressed,  ClickableFrame#primusInterPares::pressed
{
    background-color: #202122;
}

QProgressDialog
{
    background-color: #404142;
    color: white;
}

QProgressBar
{
    background-color: #606162;
    border-color: #202122;
}

QProgressBar::chunk
{
    background-color: #D89000;
}

ClickableFrame::hover
{
    background-color: #404142;
}

ClickableFrame::pressed
{
    background-color: #202122;
}

FileBlameWidget
{
    background-color: #2E2F30;
}

BlameWidget > QTabWidget, QTabWidget#HistoryTab:pane
{
    background-color: #2E2F30;
    border: 0;
}

QTabWidget#HistoryTab > QTabBar::tab:selected
{
    background-color: #2E2F30;
}

QTabWidget#HistoryTab > QTabBar::tab:selected:hover
{
    background-color: #2E2F30;
}

QTabWidget#HistoryTab > QTabBar::tab:!selected
{
    background-color: #505152;
}

QTabWidget#HistoryTab > QTabBar::tab:!selected:hover
{
    background-color: #202122;
}

DiffButton
{
   background-color: #2F2E30;
}

DiffButton > QLabel
{
   background-color: transparent;
}

DiffButton:hover
{
   background-color: #606162;
}

DiffButton[pressed="true"]
{
   background-color: #202122;
}

#DiffButtonClose:pressed
{
   background-color: #606162;
}

#DiffButtonClose:hover
{
   background-color: #202122;
}

#DiffButtonsFrame
{
   background-color: #404142;
}

#MergeWarningButton, QPushButton#warnButton, QPushButton#Abort, QPushButton#pbCancelAmend
{
   border-style: solid;
   border-color: #FF5555;
   background-color: rgba(255, 85, 85, 0.45);
}

#MergeWarningButton:hover, QPushButton#warnButton:hover, QPushButton#Abort:hover, QPushButton#pbCancelAmend:hover
{
   background-color: rgba(255, 85, 85, 0.65);
}

#MergeWarningButton:pressed, QPushButton#warnButton:pressed, QPushButton#Abort:pressed, QPushButton#pbCancelAmend:pressed
{
   background-color: rgba(255, 85, 85, 0.55);
}

QPushButton#Merge, QPushButton#pbCommit, QPushButton#pbCherryPick
{
   border-style: solid;
   border-color: #8DC944;
   background-color: rgba(141, 201, 68, 0.45);
}

QPushButton#Merge:hover, QPushButton#pbCommit:hover, QPushButton#pbCherryPick:hover
{
   background-color: rgba(141, 201, 68, 0.65);
}

QPushButton#Merge:pressed, QPushButton#pbCommit:pressed, QPushButton#pbCherryPick:pressed
{
   background-color: rgba(141, 201, 68, 0.55);
}

#FilesListTitle
{
    color: white;
    background-color: #202122;
}

#FileBtn:pressed, #FileBtn:checked
{
   background-color: #606162;
}

#FileBtn:hover
{
   background-color: #202122;
}

QComboBox
{
   outline: none;
   color: white;
   border-color: #202122;
   background-color: #2E2F30;
}

QComboBox:disabled {
   color: #E0E0E1;
}

QComboBox:editable {
   background: #ffffff;
}

QComboBox:on {
   background-color: #2E2F30;
}

QComboBox QAbstractItemView
{
   outline: none;
   background-color: #404142;
}

CheckBox
{
   color: white
}

CheckBox::indicator
{
    width: 13px;
    height: 13px;
}

RepoConfigDlg
{
   background-color: #2E2F30;
}

PullDlg QLabel#lQuestion
{
   color: white;
   font-weight: bold;
}

BranchesWidgetMinimal
{
    background-color: #202122;
}

BranchesWidgetMinimal > QPushButton, BranchesWidgetMinimal > QToolButton
{
    background-color: #202122;
}

BranchesWidgetMinimal > DiffButton
{
    background-color: #202122;
}

#MinimizeBtn
{
    background-color: #202122;
}

#MinimizeBtn:hover
{
    background-color: #606162;
}

QSpinBox
{
    color: white;
    border-color: #D89000;
    background-color: transparent;
}

QSpinBox::up-button:hover, QSpinBox::down-button:hover
{
    background: #606162;
}

QSpinBox::up-button, QSpinBox::down-button
{
    border-color: #D89000;
}

MergeWidget > QPinnableTabWidget
{
    background: #404142;
}

QToolButton#ViewBtnOption
{
    background-color: #404142;
    color: white;
}

QToolButton#ViewBtnOption:checked, QToolButton#ViewBtnOption:checked:hover
{
   background-color: #202122;
   border-color: #404142;
}

QToolButton#ViewBtnOption:!checked:hover
{
   background-color: #606162;
}

#JobButton:hover
{
    background: #606162;
}

#JenkinsWidgetTabButton:!checked
{
    background: #202122;
}

#JenkinsWidgetTabButton:!checked:hover
{
    background: #505152;
}

#JenkinsWidgetTabButton:checked
{
    background: #2E2F30;
}

JobContainer, #JenkinsJobPanel, #JobPanelTabWidget, JenkinsJobPanel#JenkinsJobPanel > QTabWidget > QScrollBar
{
    background: #2E2F30;
}

#JenkinsJobPanelTitle
{
    background: #202122;
    padding: 10px;
    qproperty-alignment: AlignCenter;
    font-weight: bold;
    font-size: 16pt;
}

#JobContainerHeader
{
    padding-left: 10px;
}

#JenkinsOutput
{
    background: #404142;
    color: white;
}

