#mainWindow
{
    background-color: white;
    color: black;
}

QMessageBox
{
    background-color: white;
    color: black;
}

QToolButton
{
    background-color: white;
    color: black;
}

QToolButton::menu-button {
    background-color: white;
}


QToolButton::menu-button:hover {
    background-color: #606162;
}

QPushButton
{
    background-color: white;
    color: black;
    border: 1px solid #202122;
}

QPushButton:hover
{
    background-color: #606162;
}

QToolButton:hover
{
    background-color: #606162;
}

QPushButton:disabled, QToolButton:disabled
{
    color: #606162;
}

QLabel
{
    color: black;
}

#labelTitle, #commitInfoFrame, CommitInfoWidget > #labelDescription
{
    background-color: #606162;
}

#labelSha
{
    color: #D89000;
    background-color: #202122;
}

WorkInProgressWidget > QListWidget, BranchesWidget > QListWidget, BlameWidget > QTreeView
{
   color: black;
   background-color: white;
   border: 1px solid #202122;
}

QListWidget::item, BlameWidget > QTreeView::item
{
    background-color: white;
    color: black;
}

QTreeView::branch
{
    background-color: #2E2F30;
}

QListWidget::item:hover, BlameWidget > QTreeView::item:hover
{
   background:#C6C6C7;
}

QListWidget::item:focus, BlameWidget > QTreeView::item:focus
{
   background-color: #A6A6A7;
}

QListWidget::item:disabled
{
    color: #A6A6A7;
}

CommitHistoryView, FullDiffWidget > QTextEdit, WorkInProgressWidget > QListWidget, FileListWidget, QTreeWidget
{
    background-color: white;
    border: 1px solid #202122;
}

WorkInProgressWidget > QListWidget
{
    border-top: 0;
}

CommitHistoryView, FullDiffWidget > QTextEdit, WorkInProgressWidget > QListWidget, QTreeWidget
{
    color: black;
}

WorkInProgressWidget > QListWidget
{
    border-color: #202122;
}

QMenu
{
    border-color: #000000;
    background-color: white;
    color: black;
}

QMenu::item
{
}

QMenu::item:selected
{
   background-color: #A6A6A7;
   color: white;
}

QMenu::item:disabled
{
   background-color: #C6C6C7;
   color: #A6A6A7;
}

QMenu::separator
{
   background: black;
}

FullDiffWidget > QTextEdit, WorkInProgressWidget > QLineEdit, WorkInProgressWidget > #teDescription
{
    border-color: #202122
}

WorkInProgressWidget > QLineEdit, WorkInProgressWidget > #teDescription
{
    background-color: #C6C6C7;
    color: black;
}

WorkInProgressWidget > #leAuthorName
{
    border-bottom-color: #404142;
}

QLabel#lCounter
{
    background-color: #C6C6C7;
    border-color: #202122;
    border-bottom-color: #404141;
    color: #606162;
}

WorkInProgressWidget > QFrame#stagedFiles, WorkInProgressWidget > QFrame#unstagedFiles, WorkInProgressWidget > QFrame#untrackedFiles
{
    background: #C6C6C7;
    border: 1px solid #202122;
    border-bottom: 0;
}

#outputTerminal, FileDiffView
{
    background-color: white;
    color: black;
}

FileDiffWidget, FileDiffWidget > QPushButton
{
    background-color: #202122;
}

WorkInProgressWidget > QLineEdit
{
    border-bottom-color: #404142;
}

QHeaderView
{
    color: black;
}

QHeaderView:section
{
    border-right-color: #202122;
    background: #C6C6C7;
}

#tagsFrame, #fileTitleFrame
{
    background-color: #C6C6C7;
    color: black;
    border: 1px solid #202122;
    border-bottom: 0;
}

BranchDlg
{
    background-color: white;
    color: black;
}

BranchDlg > QLineEdit
{
    border-color: #202122;
    background-color: white;
    color: black;
}

GitQlient
{
   background: white;
}

#openNewRepo
{
   background-color: #202122;
}

#openNewRepo:hover, #openGitAdmin:hover
{
   background-color: #606162;
}

QTabWidget::tab-bar
{
   background-color: white;
}

QTabBar::tab
{
   background-color: #202122;
   color: black;
}

QTabBar::tab:!selected
{
    border-right-color: #2E2F30;
}

QTabBar::tab:!selected:hover
{
    background-color: #606162;
}

QTabBar::tab:disabled
{
    color: #606162;
}

QToolTip
{
    border-color: #202122;
    background-color: white;
    color: black;
}

ConfigWidget
{
    background-color: #C6C6C7;
}

QFrame#separator, QFrame#separator2px
{
   background-color: #202122;
}

QFrame#orangeSeparator
{
   background-color: #D89000;
}

QWidget#testWidget
{
    background-color: #606162;
}

QPushButton#bigButton
{
    border-color: 2px solid #101112;
}

QFrame#tabWidget > QPushButton[selected=true], QFrame#tabWidget > QPushButton[selected=true]:hover
{
    background-color: #606162;
}

GeneralConfigPage
{
    background-color: #606162;
}

QDialog
{
    background-color: white;
}

QDialog > QLineEdit
{
    border-color: #202122;
    background-color: white;
    color: black;
}

QMessageBox
{
    background-color: white;
    color: black;
}

QScrollBar:vertical, QScrollBar:horizontal
{
    border-left-color: #202122;
    background-color: transparent;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal,
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal,
QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal
{
    border-color: #202122;
    background-color: #2E2F30;
}

QScrollBar::add-line:vertical:hover, QScrollBar::sub-line:vertical:hover,
QScrollBar::handle:vertical:hover, QScrollBar::add-line:horizontal:hover,
QScrollBar::sub-line:horizontal:hover, QScrollBar::handle:horizontal:hover
{
    background-color: #404142;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed,
QScrollBar::handle:vertical:pressed, QScrollBar::add-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:pressed, QScrollBar::handle:horizontal:pressed
{
    background-color: #303132;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background-color: #606162;
}

#AnnotationFrame
{
    background-color: white;
    border: 1px solid #202122;
}

FileBlameWidget > QLabel, FileBlameWidget > QScrollArea
{
    background-color: white;
}

QLabel#normalLabel
{
    background-color: white;
}

QLabel#numberLabel
{
    border-right-color: #202122;
    background-color: white;
}

QLabel#authorFirstOfItsName, ClickableFrame#firstOfItsName
{
    border-top-color: #202122;
    background-color: white;
    border-top: 1px solid #202122;
}

ClickableFrame#firstOfItsName::hover, ClickableFrame#primusInterPares::hover
{
    background-color: #C6C6C7;
}

ClickableFrame#firstOfItsName::pressed,  ClickableFrame#primusInterPares::pressed
{
    border-top: 1px solid #202122;
    background-color: white;
}

QProgressDialog
{
    background-color: #404142;
    color: white;
}

QProgressBar
{
    background-color: #606162;
    border-color: #202122;
}

QProgressBar::chunk
{
    background-color: #D89000;
}

ClickableFrame::hover
{
    background-color: #C6C6C7;
}

ClickableFrame::pressed
{
    background-color: white;
}

