*
{
   outline: none;
   font-size: 10pt;
}

a
{
   color: white;
   font-decoration: italic;
}

QWidget
{
   outline: 0;
}

#InitWidget
{
   max-width: 800px;
   min-width: 800px;
}

/* CONTROLS */


/* BLAME WIDGET */


/* HISTORY WIDGET */
#wipInfoFrame
{
   padding: 10px;
   border-width: 1px;
   border-style: solid;
}

#wipSeparator
{
   min-height: 2px;
   max-height: 2px;
}

/* QWidgets start */
CheckBox::indicator
{
    width: 13px;
    height: 13px;
}

CheckBox::indicator:unchecked,
CheckBox::indicator:unchecked:disabled,
CheckBox::indicator:checked,
CheckBox::indicator:checked:disabled,
CheckBox::indicator:indeterminate,
QCheckBox::indicator:indeterminate
{
   background: transparent;
}

QComboBox, QLineEdit
{
    border-width: 1px;
    border-style: solid;
    max-height: 25px;
    min-height: 25px;
    padding-left: 10px;
    outline: none;
}

QComboBox::drop-down
{
     min-width: 20px;
     max-width: 20px;
}

QPushButton, QToolButton
{
    border: 0;
    padding: 5px;
    font-size: 10pt;
}

QPushButton
{
    border: 0;
    max-height: 20px;
    min-height: 20px;
}

QPushButton:hover
{
    border: 0;
}

QToolButton:menu-indicator, QToolButton::menu-button
{
    image: none;
    height: 0px;
    width: 0px;
}

QListWidget, QListView, QTreeWidget, QTreeView
{
   border: 0;
}

QListWidget::item
{
   padding-left: 7px;
   padding-right: 7px;
   border-left: 0;
   border-bottom: 0;
   margin: 0;
   min-height: 25px;
   max-height: 25px;
}

QTreeWidget::item
{
   min-height: 25px;
   max-height: 25px;
}

QListWidget::item:focus
{
   border: 0;
}

QMenu
{
    menu-scrollable: 1;
}

QMenu, QToolTip
{
    border-width: 1px;
    border-style: solid;
    margin: 0;
}

QMenu::item
{
   border: 0;
   min-height: 25px;
   max-height: 25px;
   padding-left: 15px;
   padding-right: 15px;
}

QMenu::icon
{
   padding-left: 15px;
}

QMenu::separator
{
   border: 0;
   height: 1px;
}

QHeaderView:section
{
   border: 0;
   padding: 5px 15px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

QTabWidget::pane
{
}

QTabWidget > QTabBar::tab
{
   padding: 5px;
   padding-left: 15px;
   max-height: 25px;
   min-height: 25px;
}

QTabWidget > QTabBar::tab:!selected
{
   border-right-width: 1px;
   border-right-style: solid;
}

QTabWidget > QTabBar::close-button
{
   image: url(:/icons/close);
}

QTabWidget > QTabBar::close-button:hover
{
   image: url(:/icons/close_hover);
}

QTabWidget > QTabBar::close-button:pressed
{
   image: url(":/icons/close_press");
}

QToolTip
{
   padding: 5px;
   border-width: 1px;
   border-style: solid;
}

QDialog > QPushButton
{
   padding: 5px;
   max-height: 20px;
   min-height: 20px;
   min-width: 75px;
}

QDialog > QLineEdit
{
   border-width: 1px;
   border-style: solid;
   min-height: 25px;
   max-height: 25px;
   padding-left: 10px;
}

QScrollBar:vertical
{
   border: 0;
   width: 16px;
   margin: 16px 0;
   border-left-width: 1px;
   border-left-style: solid;
}

QScrollBar:horizontal
{
   border: 0;
   border-top-width: 1px;
   border-top-style: solid;
   height: 16px;
   margin: 0 16px;
}

QScrollBar::handle:vertical
{
   width: 14px;
   min-height: 10px;
   border-width: 1px;
   border-style: solid;
   border-right: 0;
   border-left: 0;
}

QScrollBar::handle:horizontal
{
   height: 14px;
   min-width: 10px;
   border-width: 1px;
   border-style: solid;
   border-top: 0;
   border-bottom: 0;
}

QScrollBar::add-line:vertical
{
   subcontrol-position: bottom center;
   subcontrol-origin: margin;
   border-width: 1px;
   border-style: solid;
   border-right: 0;
   height: 15px;
   width: 15px;
   image: url(:/icons/down-arrow);
}

QScrollBar::add-line:horizontal
{
   subcontrol-position: right;
   subcontrol-origin: margin;
   border-width: 1px;
   border-style: solid;
   border-right: 0;
   border-bottom: 0;
   height: 15px;
   width: 15px;
   image: url(:/icons/right-arrow);
}

QScrollBar::sub-line:vertical
{
   subcontrol-position: top center;
   subcontrol-origin: margin;
   border-width: 1px;
   border-style: solid;
   border-right: 0;
   height: 15px;
   width: 15px;
   image: url(:/icons/up-arrow);
}

QScrollBar::sub-line:horizontal
{
   subcontrol-position: left;
   subcontrol-origin: margin;
   border-width: 1px;
   border-style: solid;
   border-left: 0;
   border-bottom: 0;
   height: 15px;
   width: 15px;
   image: url(:/icons/left-arrow);
}

QScrollArea
{
   border: 0;
}

QProgressBar
{
   text-align: center;
   color: white;
   font-weight: bold;
   border-width: 2px;
   border-style: solid;
   border-radius: 2px;
   width: 20px;
}

QProgressBar::chunk
{
   width: 18px;
}

QMessageBox
{
   max-width: 400px;
   min-width: 400px;
   max-height: 300px;
   min-height: 300px;
}

QSpinBox
{
   border-style: solid;
   border-width: 1px;
   max-height: 25px;
   min-height: 25px;
   padding-left: 10px;
}

QSpinBox::up-button
{
   width: 16px;
   border: 0px;
}

QSpinBox::up-arrow
{
   image: url(:/icons/arrow_up);
   width: 14px;
   height: 7px;
}

QSpinBox::down-button
{
   width: 16px;
   border: 0px;
}

QSpinBox::down-arrow
{
   image: url(:/icons/arrow_down);
   width: 14px;
   height: 7px;
}

/* QWidgets end */

/* Custom widgets */
QFrame#separator
{
   min-height: 1px;
   max-height: 1px;
}

QFrame#separator2px
{
   min-height: 2px;
   max-height: 2px;
}

#orangeHSeparator
{
   min-height: 1px;
   max-height: 1px;
}

#orangeSeparator
{
   min-width: 1px;
   max-width: 1px;
}

ButtonLink
{
   padding: 2px;
   padding-left: 0;
}

ClickableFrame
{
    padding: 5px;
}

Controls > QToolButton
{
   max-width: 35px;
   min-width: 35px;
   max-height: 35px;
   min-height: 35px;
}

/* GitQlient styles */
CommitHistoryView
{
   border-width: 1px;
   border-style: solid;
}

CommitHistoryView QHeaderView:section:first
{
   border-right-width: 1px;
   border-right-style: solid;
}

Controls > QToolButton:menu-indicator, BranchesWidgetMinimal > QToolButton:menu-indicator,
Controls > QToolButton:menu-button, #ToolButtonWithMenu:menu-button, #ToolButtonWithMenu:menu-indicator
{
    image: none;
    height: 0px;
    width: 0px;
}

MergeWidget > QListWidget
{
    border-width: 1px;
    border-style: solid;
    border: 0;
    outline: 0;
}

BlameWidget > QTreeView::item
{
   padding-left: 7px;
   padding-right: 7px;
   border-left: 0;
   border-bottom: 0;
   margin: 0;
   min-height: 25px;
   max-height: 25px;
}

MergeWidget > QListWidget::item
{
   padding: 0;
}

/* BranchesWidget start */
BranchesWidget QListWidget::item
{
   padding-left: 15px;
   padding-right: 7px;
   border-left: 0;
   border-bottom: 0;
   margin: 0;
   min-height: 25px;
   max-height: 25px;
}

BranchesWidget QTreeWidget::item
{
   min-height: 25px;
   max-height: 25px;
   padding-left: 15px;
}

#FullBranchesWidget
{
   min-width: 350px;
   max-width: 350px;
}

#panelsFrame
{
   border-width: 1px;
   border-style: solid;
}

#sectionFrame
{
   border-width: 0;
   border-style: solid;
}

/* BranchesWidget start */

/* CommitInfoWidget start */

#labelTitle, #commitInfoFrame, #labelDescription
{
    padding: 10px;
}

#labelAuthor
{
   font-size: 12pt;
   padding: 10px;
   padding-bottom: 1px;
   border: none;
}

#labelDateTime
{
   font-size: 9pt;
   padding: 10px;
   padding-top: 1px;
}

#labelSha
{
    padding: 8px 10px;
    font-weight: bold;
    font-family: "DejaVu Sans Mono";
    font-size: 8pt;
}

CommitInfoWidget FileListWidget
{
    border: 0;
}

CommitInfoWidget
{
    max-width: 298px;
    min-width: 298px;
    border: 1px solid #202122;
}

/* CommitInfoWidget end */

/* CommitChangesWidget start */
#stagedFiles, #unstagedFiles
{
   padding: 0;
   border: 1px solid #202122;
}

#stagedFiles
{
   border-top: 0;
}

#stagedFilesList, #unstagedFilesList
{
   padding: 0;
   border: 0;
   outline: 0;
}

#unstagedFilesList::item, #stagedFilesList::item
{
   padding-left: 0;
}

CommitChangesWidget > #pbCommit, CommitChangesWidget > #pbCancelAmend
{
   max-height: 30px;
   min-height: 30px;
}

CommitChangesWidget > #pbCancelAmend
{
   padding-left: 10px;
   padding-right: 10px;
}

CommitChangesWidget
{
   max-width: 300px;
   min-width: 300px;
}

#amendFrame
{
    border: none;
}

#leCommitTitle, #teDescription, #leAuthorName, #leAuthorEmail
{
    border-width: 1px;
    border-style: solid;
}

#leAuthorName
{
    max-height: 30px;
    min-height: 30px;
    padding-left: 10px;
}

#leAuthorEmail
{
    border-top: 0;
    border-bottom: 0;
    max-height: 30px;
    min-height: 30px;
    padding-left: 10px;
}

#lCounter
{
    border-width: 1px;
    border-style: solid;
    border-left-width: 0;
    font-family: "DejaVu Sans Mono";
    max-width: 29px;
    min-width: 29px;
    qproperty-alignment: AlignCenter;
}

#leCommitTitle
{
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    max-height: 30px;
    min-height: 30px;
    padding-left: 10px;
}

#teDescription
{
    border-top: none;
    border-bottom: none;
    padding-left: 8px;
}

/* CommitChangesWidget end */
BlameWidget > QTreeView
{
    border-width: 1px;
    border-style: solid;
}

BlameWidget > QTreeView::item:focus
{
   border: 0;
}

FileDiffWidget, FullDiffWidget
{
    border-width: 1px;
    border-style: solid;
}

FullDiffWidget > QPlainTextEdit
{
    border-width: 1px;
    border-style: solid;
}

#JobContainerHeader
{
    max-height: 30px;
    min-height: 30px;
}

FileDiffView
{
    font-family: "DejaVu Sans Mono";
    font-size: 8pt;
}

BranchDlg > QLineEdit, HistoryWidget > QLineEdit
{
   border-width: 1px;
   border-style: solid;
   max-height: 25px;
   min-height: 25px;
   padding-left: 10px;
}

/** QPinnableTabWidget **/
#openNewRepo
{
   max-height: 25px; /** 25px for the button + 1px to compensate the border of the tabs in the QPinnableTabWidget **/
   min-height: 25px;
   max-width: 31px;
   min-width: 31px;
   padding-left: 10px;
}

QLabel#subtitle
{
    font-size: 16pt;
}

QLabel#title
{
    font-size: 24pt;
}

QPushButton#bigButton
{
    max-height: 30px;
    min-height: 30px;
    max-width: 200px;
    min-width: 200px;
    border-width: 0;
}

QFrame#tabWidget > QPushButton, QFrame#tabWidget > QPushButton[selected=false]
{
    max-width: 125px;
    min-width: 125px;
    max-height: 30px;
    min-height: 30px;
    border-right: 0;
}

QLabel#normalLabel
{
    padding: 2px;
    padding-left: 5px;
    max-height: 22px;
    min-height: 22px;
    font-size: 9pt;
}

QLabel#numberLabel
{
    padding: 2px;
    border: 0;
    border-right-width: 1px;
    border-right-style: solid;
    max-height: 22px;
    min-height: 22px;
    font-size: 9pt;
}

QLabel#authorFirstOfItsName, QLabel#authorPrimusInterPares
{
    padding: 2px;
    border: 0;
    padding-right: 15px;
    max-height: 21px;
    min-height: 21px;
}

ButtonLink#firstOfItsName, ButtonLink#primusInterPares
{
    padding: 2px;
    border: 0;
    max-height: 21px;
    min-height: 21px;
}

QLabel#authorFirstOfItsName, ButtonLink#firstOfItsName
{
    border-top-width: 1px;
    border-top-style: solid;
}

DiffButton
{
   max-height: 30px;
   min-height: 30px;
}

DiffWidget FileListWidget
{
    border: 0;
}

#InfoPanel
{
   border-style: solid;
   border-width: 1px;
   border-color: #202122;
   background: #2E2F30;
}

#InfoPanelBase
{
   border-bottom: 0;
}

#mergeFrame
{
   max-width: 450px;
   min-width: 450px;
}

#MergeWarningButton, QPushButton#warnButton, QPushButton#Abort, QPushButton#Merge
{
   border-width: 1px;
}

QPushButton#Abort, QPushButton#Merge
{
   max-height: 30px;
   min-height: 30px;
   max-width: 125px;
   min-width: 125px;
}

#FilesListTitle
{
   max-height: 30px;
   min-height: 30px;
   padding-left: 10px;
}

MergeWidget > #leCommitTitle
{
   border-right: 1px;
}

PullDlg
{
   max-height: 150px;
   min-height: 150px;
   max-width: 500px;
   min-width: 500px;
}

GeneralConfigPage > QLabel#configLabel
{
    qproperty-alignment: AlignCenter;
}

#pbCherryPick
{
   max-height: 20px;
   min-height: 20px;
   padding: 2px 5px;
}

#MinimizeBtn
{
    max-height: 30px;
    min-height: 30px;
    max-width: 20px;
    min-width: 20px;
    padding: 0;
}

#MinimizeBtn:hover
{
    max-height: 30px;
    min-height: 30px;
    max-width: 20px;
    min-width: 20px;
    padding: 0;
}

#ToolButtonWithMenu
{
   max-width: 45px;
   min-width: 45px;
   max-height: 10px;
   min-height: 10px;
   padding: 0;
}

#ToolButtonAboveMenu
{
   max-width: 35px;
   min-width: 35px;
   max-height: 25px;
   min-height: 25px;
   padding-bottom: 0;
   padding-top: 10px;
}

/* GitServerWidget */
#IssuesHeaderFrame, #IssuesHeaderFrameBig
{
   padding: 10px;
}

#IssuesHeaderFrameBig
{
    max-height: 40px;
    min-height: 40px;
}

#IssuesFooterFrame
{
   min-height: 10px;
   max-height: 10px;
}

#ButtonIssuesHeaderFrame
{
   max-height: 20px;
   min-height: 20px;
   border-style: solid;
   border-width: 1px;
}

#HeaderTitle
{
   font-variant: small-caps;
   font-size: 12pt;
   font-weight: bold;
}

/* IssueButton */
ButtonLink#IssueTitle
{
   padding: 0;
   font-size: 11pt;
   font-weight: bold;
}

#CreatorLink
{
   padding: 0;
}

#IssueLabel
{
   padding-left: 5px;
}

#IssueDescription
{
   border-radius: 5px;
}

#IssueIntro
{
   border-radius: 10px;
}

#IssueIntroApproved
{
   border-radius: 10px;
}

#IssueIntroChangesRequested
{
   border-radius: 10px;
}

#IssueIntroCommented
{
   border-radius: 10px;
}

#CodeReviewComment
{
   border-radius: 10px;
}

IssueDetailedView QTextEdit
{
   border: none;
}

QToolButton#ViewBtnOption:checked, QToolButton#ViewBtnOption:checked:hover
{
   border-width: 1px;
   border-style: solid;
}

PrChangesList FileDiffView
{
   border: 0;
}

#ChangeFileName
{
   font-weight: bold;
}

#ChangeHeaderFrame
{
   padding: 10px;
}

SourceCodeReview > FileDiffView, #PrChangeListItem > FileDiffView
{
   border: 0;
   font-size: 8pt;
}

SourceCodeReview QLabel
{
   padding: 10px;
   font-weight: bold;
   border-bottom-style: solid;
   border-bottom-width: 1px;
}

#OutdatedLabel
{
   border-radius: 7px;
   padding: 5px;
}

#AddReviewInput
{
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   padding: 5px;
}

#BranchesWidgetOptionsButton
{
    border-width: 1px;
    border-style: solid;
    max-width: 15px;
    min-width: 15px;
    max-height: 15px;
    min-height: 15px;
}

#LineNumberArea
{
    border-right-width: 1px;
    border-right-style: solid;
}

/* JENKINS */
#JenkinsWidget, #JobButton, #JobContainerScrollArea
{
   background: transparent;
   outline: none;
   border: none;
}

#teComment
{
   border-style: solid;
   border-width: 1px;
}
