[submodule "app/QPinnableTabWidget"]
	path = app/QPinnableTabWidget
	url = ../QPinnableTabWidget.git
[submodule "app/QLogger"]
	path = app/QLogger
	url = ../QLogger.git
[submodule "app/AuxiliarCustomWidgets"]
	path = app/AuxiliarCustomWidgets
	url = ../AuxiliarCustomWidgets.git
[submodule "app/git"]
	path = app/git
	url = ../git.git
[submodule "tests/catch2"]
	path = tests/deps/catch2
	url = https://github.com/catchorg/Catch2.git
