[submodule "src/QPinnableTabWidget"]
	path = src/QPinnableTabWidget
	url = ../QPinnableTabWidget.git
[submodule "src/QLogger"]
	path = src/QLogger
	url = ../QLogger.git
[submodule "src/AuxiliarCustomWidgets"]
	path = src/AuxiliarCustomWidgets
	url = ../AuxiliarCustomWidgets.git
[submodule "src/git"]
	path = src/git
	url = ../git.git
