[submodule "src/QPinnableTabWidget"]
	path = src/QPinnableTabWidget
	url = https://github.com/francescmm/QPinnableTabWidget.git
[submodule "src/QLogger"]
	path = src/QLogger
	url = https://github.com/francescmm/QLogger.git
[submodule "src/AuxiliarCustomWidgets"]
	path = src/AuxiliarCustomWidgets
	url = https://github.com/francescmm/AuxiliarCustomWidgets.git
[submodule "src/git"]
	path = src/git
	url = https://github.com/francescmm/git.git
