*.user
*.patch
*.swp
*.AppImage
usr/*
build/*
debug/
release/
/*.o
/GitQlient
/logs
/Makefile
/moc_*.*
/qrc_resources.cpp
/ui_*.h

/.*
!/.github
!/.clang-format
!/.gitignore
!/.gitmodules
!/.travis.yml
