#mainWindow
{
    background-color: #404142;
    color: white;
}

QMessageBox
{
    background-color: #404142;
    color: white;
}

Controls
{
    max-height: 80px;
    min-height: 80px;
}

Controls > QToolButton
{
    max-width: 60px;
    min-width: 60px;
    max-height: 50px;
    min-height: 50px;
}

QPushButton, QToolButton
{
    border: 0px;/**1px solid #d89000;**/
    background-color: #404142;
    color: white;
    padding: 5px;
}

QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
}

QToolButton::menu-button {
    background-color: #404142;
}


QToolButton::menu-button:hover {
    background-color: #606162;
}


QPushButton
{
    border: 0px;
    background-color: #2E2F30;
    max-height: 20px;
    min-height: 20px;
}

QPushButton:hover
{
    border: 0px;
    background-color: #606162;
}

QToolButton:hover
{
    background-color: #606162;
}

QPushButton:disabled, QToolButton:disabled
{
    color: #606162;
}

QLabel
{
    color: white;
}

RevisionWidget > #labelTitle, RevisionWidget > #commitInfoFrame, RevisionWidget > #labelDescription
{
    background-color: #606162;
    padding: 10px;
}

RevisionWidget #labelSha
{
    color: #D89000;
    background-color: #202122;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    font-family: Ubuntu Mono;
}

CommitWidget > QListWidget, BranchesWidget > QListWidget{
   color: white;
   border: 0px;
   background-color: #2E2F30;
   outline: 0;
 }

QListWidget::item
{
   padding-left: 7px;
   padding-right: 7px;
   background-color: #2E2F30;
   border-left: 0px;
   border-bottom: 0px;
   margin: 0px;
   min-height: 25px;
   max-height: 25px;
}

QTreeWidget::item
{
    min-height: 25px;
    max-height: 25px;
}

QTreeView::branch {
        background-color: #2E2F30;
}

BranchesWidget
{
    min-width: 400px;
    max-width: 400px;
}

QListWidget::item:hover
{
   background:#363637;
}

QListWidget::item:focus
{
   border: 0px;
   background-color: #3C3D3D;
}

QListWidget::item:disabled
{
    color: #606162;
}

CommitWidget > #pbCommit
{
    max-height: 30px;
    min-height: 30px;
}


RevisionWidget, CommitWidget
{
    max-width: 300px;
    min-width: 300px;
}

RepositoryView, FullDiffWidget, CommitWidget > QListWidget, FileListWidget, QTreeWidget
{
    background-color: #2E2F30;
}

RepositoryView, FullDiffWidget, CommitWidget > QListWidget, QTreeWidget
{
    color: white;
}

CommitWidget > QListWidget
{
    border: 1px solid #202122;
}

/** START RepositoryContextMenu **/
QMenu
{
    border: 1px solid #000000;
    background-color: #000000;
    margin: 0px;
    color:#ffffff;
}

QMenu::item
{
   border: 0px;
   min-height: 25px;
   max-height: 25px;
   padding-left: 15px;
   padding-right: 15px;
   background-color: #2E2F30;
   color: #ffffff;
}

QMenu::icon
{
   padding-left: 15px;
}

QMenu::item:selected
{
   background-color: #404142;
   color: #d89000;
}

QMenu::item:disabled
{
   background-color: #242425;
   color: #656668;
}

QMenu::separator
{
   background: #3f4043;
   border: 0px;
   height: 1px;
}

/**  END  RepositoryContextMenu **/

FullDiffWidget, CommitWidget > QLineEdit, CommitWidget > #teDescription
{
    border: 1px solid #202122;
}

CommitWidget > QLineEdit, CommitWidget > #teDescription, #leGitCommand
{
    background-color: #606162;
    color: white;
}

CommitWidget > #leCommitTitle
{
    border-right: 0px;
}

CommitWidget > #leAuthorName
{
    border-bottom: 1px solid #404142;
}

CommitWidget > #leAuthorEmail
{
    border-top: 0px;
}

QLabel#lCounter
{
    background-color: #606162;
    font-family: Ubuntu Mono;
    max-width: 29px;
    min-width: 29px;
    color: #A3A3A4;
    border: 0px;
    border-top: 1px solid #202122;
    border-right: 1px solid #202122;
    border-bottom: 1px solid #404141;
    qproperty-alignment: AlignCenter;
}

#leGitCommand
{
border: 1px solid #606162;
}

CommitWidget > QFrame#stagedFiles, CommitWidget > QFrame#unstagedFiles, CommitWidget > QFrame#untrackedFiles
{
    background: #202122;
    max-height: 30px;
    min-height: 30px;
}

#outputTerminal, FileDiffView
{
    background-color: #2E2F30;
    color: white;
}

FileDiffView
{
    font-family: "Ubuntu Mono";
}

FileDiffWidget, FileDiffWidget > QPushButton
{
    background-color: #202122;
}

CommitWidget > QLineEdit, #leGitCommand
{
    border-bottom: 1px solid #404142;
    max-height: 30px;
    min-height: 30px;
    padding-left: 10px;
}

CommitWidget > #teDescription, #outputTerminal
{
    border-top: none;
    padding-left: 8px;
}

/** START QHeaderView **/
QHeaderView {
    color:#ffffff;
}

QHeaderView:section
{
    border: 0px;
    border-right: 1px solid #606162;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #202122;
}

/**  END  QHeaderView **/

#tagsFrame, #fileTitleFrame
{
    background-color: #202122;
    color: white;
}

BranchDlg
{
    background-color: #404142;
    color: white;
}

BranchDlg > QLineEdit
{
    border: 1px solid #202122;
    background-color: #606162;
    color: white;
    max-height: 25px;
    min-height: 25px;
    padding-left: 10px;
}

/** QTabWidget **/
GitQlient
{
   background: #2E2F30;
}

#openNewRepo
{
   background-color: #202122;
   max-height: 25px; /** 25px for the button + 1px to compensate the border of the tabs in the QTabWidget **/
   min-height: 25px;
   max-width: 31px;
   min-width: 31px;
}

#openNewRepo
{
    padding-left: 10px;
}

#openNewRepo:hover, #openGitAdmin:hover
{
   background-color: #606162;
}

QTabWidget::pane
{
}

QTabWidget::tab-bar
{
   background-color: #404142;
}

QTabBar::tab
{
   background-color: #202122;
   color: white;
   padding: 5px;
   padding-left: 15px;
   max-height: 25px;
   min-height: 25px;
}

QTabBar::tab:selected
{
   background-color: #404142;
}

QTabBar::tab:!selected
{
    border-right: 1px solid #2E2F30;
}

QTabBar::tab:!selected:hover
{
    background-color: #606162;
}

QTabBar::tab:disabled
{
    color: #606162;
}

QTabBar::close-button
{
    image: url(:/icons/close);
}

QTabBar::close-button:hover
{
    image: url(:/icons/close_hover);
}

QTabBar::close-button:pressed
{
  image: url(":/icons/close_press");
}

QToolTip
{
   padding: 5px;
   border: 1px solid #606162;
   background-color: #202122;
   color: white;
}

ConfigWidget
{
    background-color: #404142;
}

QFrame#separator
{
   background-color: #202122;
   min-height: 1px;
   max-height: 1px;
}

QFrame#separator2px
{
   background-color: #202122;
   min-height: 2px;
   max-height: 2px;
}

QLabel#subtitle
{
    font-size: 16pt;
}

QLabel#title
{
    font-size: 24pt;
}

QWidget#testWidget
{
    background-color: #606162;
}

QPushButton#bigButton
{
    max-height: 30px;
    min-height: 30px;
    border: 2px solid #101112;
}

QFrame#tabWidget > QPushButton, QFrame#tabWidget > QPushButton[selected=false]
{
    max-width: 125px;
    min-width: 125px;
    max-height: 30px;
    min-height: 30px;
    border-right: 0px;
}

QFrame#tabWidget > QPushButton[selected=true], QFrame#tabWidget > QPushButton[selected=true]:hover
{
    background-color: #606162;
}

GeneralConfigPage
{
    background-color: #606162;
}

QDialog
{
    background-color: #404142;
}

QDialog > QPushButton
{
    padding: 5px;
}

QDialog > QLineEdit
{
    border: 1px solid #202122;
    background-color: #606162;
    color: white;
    min-height: 25px;
    max-height: 25px;
    padding-left: 10px;
}

