ClickableFrame
{
    padding: 5px;
}

Controls
{
    max-height: 80px;
    min-height: 80px;
}

Controls > QToolButton
{
    max-width: 65px;
    min-width: 65px;
    max-height: 50px;
    min-height: 50px;
}

QPushButton, QToolButton
{
    border: 0;
    padding: 5px;
    font-size: 10pt;
}

QPushButton
{
    border: 0;
    max-height: 20px;
    min-height: 20px;
}

QPushButton:hover
{
    border: 0;
}

*
{
    font-size: 10pt;
}

CommitInfoWidget > #labelTitle, CommitInfoWidget > #commitInfoFrame, CommitInfoWidget > #labelDescription
{
    padding: 10px;
}

#labelSha
{
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    font-family: Ubuntu Mono;
}

CommitDiffWidget
{
   max-height: 350px;
   min-height: 350px;
}

WorkInProgressWidget > QListWidget, BranchesWidget > QListWidget, BlameWidget > QTreeView
{
   border: 0;
   outline: 0;
 }

QListWidget::item, BlameWidget > QTreeView::item
{
   padding-left: 7px;
   padding-right: 7px;
   border-left: 0;
   border-bottom: 0;
   margin: 0;
   min-height: 25px;
   max-height: 25px;
}

QTreeWidget::item
{
    min-height: 25px;
    max-height: 25px;
}

BranchesWidget
{
    min-width: 400px;
    max-width: 400px;
}

#tagsFrame
{
    padding: 0;
}

QListWidget::item:focus, BlameWidget > QTreeView::item:focus
{
   border: 0;
}

WorkInProgressWidget > #pbCommit
{
    max-height: 30px;
    min-height: 30px;
}


CommitInfoWidget, WorkInProgressWidget
{
    max-width: 300px;
    min-width: 300px;
}

WorkInProgressWidget > QListWidget
{
    border-width: 1px;
    border-style: solid;
}

/** START RepositoryContextMenu **/
QMenu
{
    border-width: 1px;
    border-style: solid;
    margin: 0;
}

QMenu::item
{
   border: 0;
   min-height: 25px;
   max-height: 25px;
   padding-left: 15px;
   padding-right: 15px;
}

QMenu::icon
{
   padding-left: 15px;
}

QMenu::separator
{
   border: 0;
   height: 1px;
}

/**  END  RepositoryContextMenu **/

FullDiffWidget, WorkInProgressWidget > QLineEdit, WorkInProgressWidget > #teDescription
{
    border-width: 1px;
    border-style: solid;
}

WorkInProgressWidget > #leCommitTitle
{
    border-right: 0;
}

WorkInProgressWidget > #leAuthorName
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

WorkInProgressWidget > #leAuthorEmail
{
    border-top: 0;
}

QLabel#lCounter
{
    border-width: 1px;
    border-style: solid;
    border-left-width: 0;
    font-family: Ubuntu Mono;
    max-width: 29px;
    min-width: 29px;
    qproperty-alignment: AlignCenter;
}

#leGitCommand
{
    border-width: 1px;
    border-style: solid;
}

WorkInProgressWidget > QFrame#stagedFiles, WorkInProgressWidget > QFrame#unstagedFiles, WorkInProgressWidget > QFrame#untrackedFiles
{
    max-height: 30px;
    min-height: 30px;
}

FileDiffView
{
    font-family: "Ubuntu Mono";
}

WorkInProgressWidget > QLineEdit, #leGitCommand
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    max-height: 30px;
    min-height: 30px;
    padding-left: 10px;
}

WorkInProgressWidget > #teDescription, #outputTerminal
{
    border-top: none;
    padding-left: 8px;
}

/** START QHeaderView **/

QHeaderView:section
{
    border: 0;
    border-right-width: 1px;
    border-right-style: solid;
    padding: 5px 15px 5px 15px;
}

/**  END  QHeaderView **/

BranchDlg > QLineEdit, CommitHistoryWidget > QLineEdit
{
    border-width: 1px;
    border-style: solid;
    max-height: 25px;
    min-height: 25px;
    padding-left: 10px;
}

/** QTabWidget **/
#openNewRepo
{
   max-height: 25px; /** 25px for the button + 1px to compensate the border of the tabs in the QTabWidget **/
   min-height: 25px;
   max-width: 31px;
   min-width: 31px;
}

#openNewRepo
{
    padding-left: 10px;
}

QTabWidget::pane
{
}

QTabBar::tab
{
   padding: 5px;
   padding-left: 15px;
   max-height: 25px;
   min-height: 25px;
}

QTabBar::tab:selected
{
   background-color: #404142;
}

QTabBar::tab:!selected
{
    border-right-width: 1px;
    border-right-style: solid;
}

QTabBar::close-button
{
    image: url(:/icons/close);
}

QTabBar::close-button:hover
{
    image: url(:/icons/close_hover);
}

QTabBar::close-button:pressed
{
  image: url(":/icons/close_press");
}

QToolTip
{
   padding: 5px;
   border-width: 1px;
   border-style: solid;
}

QFrame#separator
{
   min-height: 1px;
   max-height: 1px;
}

QFrame#separator2px
{
   min-height: 2px;
   max-height: 2px;
}

QFrame#orangeSeparator
{
   min-width: 1px;
   max-width: 1px;
}

QLabel#subtitle
{
    font-size: 16pt;
}

QLabel#title
{
    font-size: 24pt;
}

QPushButton#bigButton
{
    max-height: 30px;
    min-height: 30px;
    border-width: 2px;
    border-style: solid;
}

QFrame#tabWidget > QPushButton, QFrame#tabWidget > QPushButton[selected=false]
{
    max-width: 125px;
    min-width: 125px;
    max-height: 30px;
    min-height: 30px;
    border-right: 0;
}

QDialog > QPushButton
{
    padding: 5px;
}

QDialog > QLineEdit
{
    border-width: 1px;
    border-style: solid;
    min-height: 25px;
    max-height: 25px;
    padding-left: 10px;
}

QScrollBar:vertical
{
    border: 0;
    width: 16px;
    margin: 16px 0 16px 0;
    border-left-width: 1px;
    border-left-style: solid;
}

QScrollBar:horizontal
{
    border: 0;
    border-left-width: 1px;
    border-left-style: solid;
    height: 16px;
    margin: 0 16px 0 16px;
}

QScrollBar::handle:vertical
{
    width: 14px;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
}

QScrollBar::handle:horizontal
{
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
}

QScrollBar::add-line:vertical
{
    subcontrol-position: bottom center;
    subcontrol-origin: margin;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-bottom: 0;
    height: 15px;
    width: 15px;
    image: url(:/icons/down-arrow);
}

QScrollBar::add-line:horizontal
{
    subcontrol-position: right;
    subcontrol-origin: margin;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-bottom: 0;
    height: 15px;
    width: 15px;
    image: url(:/icons/right-arrow);
}

QScrollBar::sub-line:vertical
{
    subcontrol-position: top center;
    subcontrol-origin: margin;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-top: 0;
    height: 15px;
    width: 15px;
    image: url(:/icons/up-arrow);
}

QScrollBar::sub-line:horizontal
{
    subcontrol-position: left;
    subcontrol-origin: margin;
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-bottom: 0;
    height: 15px;
    width: 15px;
    image: url(:/icons/left-arrow);
}

QScrollArea
{
    border: 0;
}

QLabel#normalLabel
{
    padding: 2px;
    padding-left: 5px;
    max-height: 22px;
    min-height: 22px;
}

QLabel#numberLabel
{
    padding: 2px;
    border: 0;
    border-right-width: 1px;
    border-right-style: solid;
    max-height: 22px;
    min-height: 22px;
}

QLabel#authorFirstOfItsName, QLabel#authorPrimusInterPares
{
    padding: 2px;
    border: 0;
    padding-right: 15px;
    max-height: 21px;
    min-height: 21px;
}

ClickableFrame#firstOfItsName, ClickableFrame#primusInterPares
{
    padding: 2px;
    border: 0;
    max-height: 21px;
    min-height: 21px;
}

QLabel#authorFirstOfItsName, ClickableFrame#firstOfItsName
{
    border-top-width: 1px;
    border-top-style: solid;
}

QProgressBar
{
    text-align: center;
    color: white;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    width: 20px;
}

QProgressBar::chunk
{
    width: 18px;
}

DiffButton
{
   max-height: 30px;
   min-height: 30px;
}

DiffWidget > QScrollArea
{
   min-width: 375px;
   max-width: 375px;
}


